certifi==2018.1.18
click==6.7
Django==2.0.4
django-polls==0.1
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.2
pdfrw==0.4
pipenv==11.8.0
pytz==2018.3
virtualenv==15.1.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
